html {
	font-size: 100%;
}


body {
	font-family: 'Helvetica Neue', Arial, sans-serif;
	font-size: 1em;
	font-weight: 300;
}

input:focus,
textarea {
	outline: none;
}

sup {
	font-size: 0.75rem;
	top: -1.5em;

	@media #{$brk-small} {
		top: -.5em;
	}
}