/* headlines */
h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 5.25em;
	color: #ffffff;
	text-align: center;
	font-weight: 700;
	padding: 50px 0 50px 0;
}

/* slider and sub section headlines */
h2 {
	font-size: 3.125em;
	font-weight: 300;
	color: #ffffff;
}

h3 {
	font-size: 3.125em;
	font-weight: 300;
	color: #000000;
}

p {
	// font-size: 1.875em;
	font-size: 1em;
}


.fa-globe,
.fa-map-marker {
	color: $black;

	&:hover {
		color: $red;
	}
}

.direction-list a p {
	color: $black;

	&:hover {
		text-decoration: none;
		color: $red;
	}
}