// header small logos

.small-logo-wrap {
	float: right;

	.left-logo {
		float: left;
		padding: 2px;
	}

	.right-logo {
		float: right;
		padding: 2px;
	}
}

// Home Page - Applications

.applications {
	background-color: #c42833;
}