// header small logos

.small-logo-wrap {
	float: right;

	.left-logo {
		float: left;
		padding: 2px;
	}

	.right-logo {
		float: right;
		padding: 2px;
	}
}

// Home Page - Applications

.applications {
	background-color: #c42833;
}

// Home Page - Quick Installation

.installation {
	text-align: center;
}

.video-wrapper img {
	margin: 0 auto;
}

// Home Page - Available Products

.available-products {
	padding: 100px 0 50px 0;
}

.ap-row {
	padding-bottom: 50px;
	max-width: 820px;
	margin: 0 auto;
}