// Global Imports

@import 'partials/index';

html {
	font-size: 100%;
}


body {
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
}


/* headlines */
h1 {
	font-size: 5.25em;
	color: #ffffff;
	text-align: center;
	font-weight: 700;
	padding: 50px 0 50px 0;
}

/* slider and sub section headlines */
h2 {
	font-size: 3.125em;
	color: #ffffff;
}

h3 {
	font-size: 3.125em;
	color: #000000;
}

p {
	font-size: 1.875em;
}


/* Black Section */

.black-section {
	background-color: #000000;
	height: 35px;
}

/* Tagline */ 

.tag-line {
	background-color: #000000;
	color: #ffffff;
	text-align: center;
}

/* Modal Sections */

.modal-intro h2 {
	text-align: center;
	color: #000000;
}

table {
	background-color: #656565;
	color: #ffffff;
}

td:hover {
	background-color: #be1e2d;
}


/* Slider */

.bx-wrapper .bx-viewport {
	background-color: transparent;
	/*height: 400px;*/
}

.slider {
	background-image: url(../images/red_background.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 450px;
}

.slider-two,
.slider-three {
	text-align: center;
}

.slider-three-image img {
	margin: 0 auto;
	-moz-box-shadow: 5px 5px 5px #000000;
	-webkit-box-shadow: 5px 5px 5px #000000;
	box-shadow: 5px 5px 5px #000000;
}

/* Design Tech */

.sub-heading {
	text-align: center;
}

.flex-wrap {
	display: -webkit-flex;
    -webkit-flex-direction: row;
	display: flex;
	flex-flow: row;
	justify-content: flex-start;
}

.letter {
	width: 15%;
}

.copy {
	width: 85%;
}

.design-tech {

}

/* Product Overlay */

.img-overlay {
	position: relative;
	max-width: 501px;
	margin: 0 auto;
}

.portfolio-overlay:hover {
	opacity: 1;
}

.portfolio-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.9);
	opacity: 0;
	-webkit-transition: opacity 500ms;
	-moz-transition: opacity 500ms;
	-o-transition: opacity 500ms;
	transition: opacity 500ms;
}


/* Collapse Mobile Menu at 992 */

@media (max-width: 992px) {

  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }

  .navbar-default {
  	background-color: #000000;
  }

  .navbar-nav > li {
  	border-right: 0px;
  }

  .connectite-nav {
  	height: 100%;
  	background-color: #000000;
  }

}




