html {
	font-size: 100%;
}


body {
	font-family: 'Helvetica Neue', Arial, sans-serif;
	font-size: 1em;
	font-weight: 300;
}

input:focus,
textarea {
	outline: none;
}

a {

	&:hover {
		text-decoration: none;
	}

	&:visited {
		text-decoration: none;
	}

	&:focus {
		outline: none;
		text-decoration: none;
	}
}
