/* headlines */
h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 5.25em;
	color: #ffffff;
	text-align: center;
	font-weight: 700;
	padding: 50px 0 50px 0;

	@media #{$brk-small} {
		font-size: 3em;
	}
	
}

/* slider and sub section headlines */
h2 {
	font-size: 3.125em;
	font-weight: 300;
	color: #ffffff;

	@media #{$brk-small} {
		font-size: 2.5em;
	}
}

h3 {
	font-size: 3.125em;
	font-weight: 300;
	color: #000000;

	@media #{$brk-small} {
		font-size: 2.5em;
	}
}

p {
	font-size: 1.875em;
}


.fa-globe,
.fa-map-marker {
	color: $black;

	&:hover {
		color: $red;
	}
}

.direction-list a {
	color: $black;

	&:hover {
		text-decoration: none;
		color: $red;
	}
}